.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #ff6f7d, #ab48e4);
  color: #fff;
  padding: 5px;
  height: 40px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.header-logout {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 37px;
  font-size: 16px;
  transition: opacity 0.3s;
}

.header-logout:hover {
  opacity: 0.8;
}

/* devices only */
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55px;
  }

  .header-title {
    font-size: 20px;
    margin: 0 0 4px 0;
  }

  .header-logout {
    height: 25px;
    padding: 4px 12px;
    margin: 0;
    font-size: 14px;
  }
}
