body {
  background-color: #36393e;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  position: relative;
}

/* for device */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}
